<!DOCTYPE html>
<html>
<!--manifest="/static/files/mobile.manifest"-->
<head>
    <meta charset="UTF-8" />
    <link rel="shortcut icon" href="img/mi.ico">
    <title>桂花蜜</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/mobile.css" />
	<link rel="stylesheet" href="css/scrollbar.css" />
	<script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="js/iscroll-lite.js"></script>
	<script type="text/javascript" src="js/base.js"></script>
    <script type="text/javascript" src="js/cordova-1.7.0.js"></script>
</head>
<body id="mobile">
	<header id="global_header">
		<div id="global_header_l"></div>
		<div id="global_header_r"></div>
		<h1>欢迎来到桂花蜜</h1>
	</header>
    
    <div id="signup" class="page">
		<h1></h1>
		<form action="" method="post">
			<div>
				{% csrf_token %}
				<input type="hidden" name="action" id="register_input" value="register"  />
				<label for="nickname">昵称：</label>
				<input type="text" name="nickname" id="nickname" value="{{ unauth_username }}"  placeholder="昵称"/>
				{{ form.nickname.errors }}
				<label for="username">邮箱：</label>
				<input type="email" name="username" id="username" value="{{ unauth_username }}" placeholder="邮箱"/>
				{{ form.username.errors }}
				<label for="password">密码：</label>
				<input type="password" name="password" id="password" value="" placeholder="密码" />
				{{ form.password.errors }}
				<input type="submit" value="注册" class="button" />
				<input type="button" id="go_signin" class="button" value="我已经是桂花蜜会员">
			</div>
		</form>
	</div>
    
	<div id="signin" class="page">
		<h1>登陆桂花蜜</h1>
		<form action="" method="post">
			<div>
				{% csrf_token %}
				<input type="hidden" name="action" id="login_input" value="login"  />
				<label for="username">邮箱：</label>
				<input type="email" name="username" id="username" value="{{ unauth_username }}" placeholder="邮箱"/>
				{{ form.username.errors }}
				<label for="password">密码：</label>
				<input type="password" name="password" id="password" value="" placeholder="密码"/>
				{{ form.password.errors }}
				<input type="submit" value="登录"  class="button" />
				<p class="tip">{{ login_error }}</p>
			</div>
		</form>
	</div>

	<div class="page" id="home" data-title="桂花蜜">
		<div data-role="content">
			<a href="" data-role="button" data-icon="search" class="camera">扫描图书条形码</a>
		</div>
	</div>

	<div class="page" id="books" data-title="我的书架">
		<ul id="mybook">
		</ul>
	</div>

	<div class="page" id="folder" data-title="我的书架>文件夹">
	</div>

	<div class="page" id="book" data-title="图书">
	</div>

	<div class="page" id="note" data-title="笔记">

		<div class="write_note"><textarea placeholder="填写读书笔记" id="note_cont"></textarea></div>
		<ul class="about_book">
			<li class="select_book">
				<h3>选择图书</h3>
				<div>
					<a href="" class="barcode_icon barcode" id="note_rel_book"></a>
				</div>
			</li>
			<li class="select_page">
				<h3>填写页码</h3>
				<input type="text" value="" placeholder="数字" id="note_rel_page"/>
			</li>
			<li class="take_photo">
				<h3>书页剪影</h3>
				<div>
					<a href="" class="camera_icon camera"></a>
					<a href="" class="select_photo gallery_icon gallery"></a>
				</div>

			</li>
		</ul>
	</div>

	<div class="page" id="isbn" data-title="扫描图书条形码">
		<div data-role="content">
			<ul data-role="listview" data-theme="d"  data-split-icon="gear" data-split-theme="d" id="xxx">
				<li><a><img src=""><h3></h3></a><a></a></li>
			</ul>
			<div class="book_detail">

			</div>
			<div data-role="controlgroup" class="">
			<a href="" data-role="button" data-theme="e" data-icon="plus" class="camera">继续扫描添加</a>
			<a href="" data-role="button" data-icon="delete" data-bookid="">不添加这本书（待开发）</a>
			<a href="#home" data-role="button" data-icon="home">回到首页</a>
			</div>
		</div>
	</div>

	<footer id="global_footer">
			<a href="#home" class="hover"><span class="home_icon"></span><h3>首页</h3></a>
			<a href="#books"><span class="book_icon"></span><h3>书架</h3></a>
			<a href="#note"><span class="pencil_icon"></span><h3>做笔记</h3>
</a>
			<a href="#" ><span class="coffee_icon"></span><h3>休闲</h3> </a>
			<a href="#" ><span class="profile_icon"></span><h3>设置</h3></a>
	</footer>

	<script type="text/javascript" src="js/mobile.js"></script>
</body>
</html>